.user {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 0px;
    margin: 20px 0 0px;
}

.user .photo {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    border: 4px solid rgba(255, 255, 255, 0.3);
    margin: 0 auto;
}

.user .photo img {
    width: 100%;
}

.user .info {
    margin-bottom: 10px;
    display: block;
}

.user .info > a {
    text-align: center;
    color: #FFFFFF;
    padding: 8px 14px;
    text-align: center;
    display: block;
    font-family: 'Open Sans', Sans-serif;
    text-transform: uppercase;
}

.user #userleft > ul > li > a {
    color: #FFFFFF;
    border-radius: 0px;
    padding-top: 2px;
    padding-bottom: 10px;
    text-align: center;
    position: relative;
    display: block;
    font-family: 'Open Sans', Sans-serif;
}

.user .info #userleft li a:hover,
.user .info #userleft li a:focus {
    background-color: transparent;
}

.fix_icon_width .user .photo {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 0.3);
    margin: 0 auto 15px auto;
}

.fix_icon_width .user .info {
    display: none;
}


